/*
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# HEADER
# FOOTER
# SIDEBAR
# MAIN
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/
.site_header {
    background: #161b2d;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
}
.site_branding h1 {
    margin: 0;
    font-size: 24px;
    font-family: 'DINPro-Regular';
    letter-spacing: 1px;
}
.site_branding h1 a {
    color:#fff;
}
.site_branding p {
    text-transform: uppercase;
    color:#31a1ff;
    font-family: 'DINPro-Light';
    -webkit-font-smoothing: antialiased;
    letter-spacing: 2.5px;
    font-size: 16px;
    margin: 0;
}
.brand_right {
    position: absolute;
    right: 50px;
    top:40px;
}
.brand_right img {
    display: inline-block;
    vertical-align: middle;
    margin-left: 35px;
}
.brand_right img#headshot {
    width: 70px;
}
.brand_right img#phone {
    width: 40px;
}


/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/
.site_footer {
   background: #161b2d;
    height: 70px;
}


/*--------------------------------------------------------------
# SIDEBAR
--------------------------------------------------------------*/
.blog_sidebar {
    float: right;
    width: 300px;
    height: 100%;
    min-height: 100vh;
        background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-left: 50px;
    margin-bottom: -500px;
    padding-bottom: 500px;
}
.blog_sidebar h2 {
    color:#fff;
    text-transform: uppercase;
    font-family: 'DINPro-Regular';
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.blog_sidebar section {
    margin-bottom: 100px;
}
.blog_sidebar section ul li {
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.blog_sidebar section ul li {
        color: #fff;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'DINPro-Regular';
}
.blog_sidebar section ul li {
    border-left: 5px solid #78b75e;
    padding-left: 15px;
}
.blog_sidebar section ul li:nth-child(2n) {
    border-color: #6775c9;
    
}

.blog_sidebar section ul li:nth-child(3n) {
    border-color: #f99d58;
    
}

.blog_sidebar ul.featured_blogs li h5 {
            color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'DINPro-Regular';
    margin-bottom: 10px;
    border-left: 5px solid #78b75e;
    padding-left: 15px;
}
.blog_sidebar ul.featured_blogs li:nth-child(2n) h5 {
     border-color: #6775c9;
}
.blog_sidebar ul.featured_blogs h2 {
    margin-bottom: 20px;
}
.blog_sidebar ul.featured_blogs li {
    margin-bottom: 30px;
}
.blog_sidebar ul.featured_blogs p {
        color:#fff;
    font-family: 'DINPro-Light';
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    width: 80%;
    padding-left: 20px;
}
.blog_sidebar ul.featured_blogs li h6 {
    background: #fff;
        height: 34px;
    width: 100px;
    margin-left: 20px;
    margin-top: 10px;
    color: #31a1ff;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
        display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'DINPro-Light';
    border:1px solid #31a1ff;
}
.blog_sidebar ul.featured_blogs li h6:hover {
    cursor: pointer;
    color:#fff;
    background: #31a1ff;
}
/*--------------------------------------------------------------
# MAIN
--------------------------------------------------------------*/

.main_content {
    overflow: hidden
}
.main_hero {
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}
.main_hero#single {
    display: flex;
  align-items: center;
  justify-content: center;
}
.main_hero_text {
    position: absolute;
    bottom: 100px;
    width:75%;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.main_hero#single .main_hero_text{
    position: relative;
    bottom: auto;
    text-align: center;
}

.main_hero_text h1 {
    color:#fff;
    text-transform: uppercase;
    font-family: 'DINPro-Regular';
    font-size: 32px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    line-height: 
}
.main_hero#single .main_hero_text h1 {
    font-size: 44px;
}
.main_hero_text a p {
    height: 45px;
    width: 155px;
        color:#fff;
    text-transform: uppercase;
    background: #31a1ff;
        font-size: 12px;
    letter-spacing: 1px;
        text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'DINPro-Regular';
}
.site_main {
    float: left;
    padding-left: 50px;
    padding-bottom: 100px;
    width: calc(100% - 450px);
    height: 100%;
}
.site_title {
    padding-top: 50px;
    padding-bottom: 20px;
}
.site_title h2 {
    color:#161b2d;
    text-transform: uppercase;
    font-family: 'DINPro-Bold';
    font-size: 24px;
    letter-spacing: 1px;
    
}
.site_title h4  {
    color:#b2b2b2;
    font-family: 'DINPro-Medium';
    font-size: 16px;
    display: inline-block
}
.site_title h2 span {
    padding-bottom: 7px;    
    border-bottom: 1px solid #31a1ff;
}
.post h2 {
    margin-top: 0;
    margin-bottom: 15px;
    line-height: 1;
    color:#161b2d;
    text-transform: uppercase;
    font-family: 'DINPro-Medium';
    font-size: 20px;
    letter-spacing: 1px;
}

.post {
    overflow: hidden;
    padding-top: 60px;
    padding-bottom: 30px;
    border-bottom: 2px solid #eaeaea;
}
.post:last-child {
    border-bottom: 0;
}
.post_image {
    height: 150px;
    float: left;
    width: 30%;
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}
.post:nth-child(2n) .post_image h6{
    background: #6775c9;
}
.post:nth-child(3n) .post_image h6{
    background: #f99d58;
}

.post_image h6 {
    color:#fff;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'DINPro-Regular';
    position: absolute;
    bottom: 0;
    text-align: center;
    background: #78b75e;
    width: 100%;
    margin: 0;
    height: 20px;
}
.post_content {
    float: left;
    width: 55%;
    margin-left: 5%;
}
.post#single_post {
    padding-top: 0;
}
.post#single_post .post_content {
    float: none;
    width: 90%;
    margin-left: 0;
}
.post_content p {
    color:#161b2d;
    font-family: 'DINPro-Regular';
    font-size: 16px;
    margin-bottom: 0;
}
.post_content h6  {
    color:#b2b2b2;
    font-family: 'DINPro-Medium';
    font-size: 12px;
    display: inline-block
}

.post_content a h5 {
    color:#353d4c;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'DINPro-Medium';
    display: inline-block;
    margin-left: 15px;
    cursor: pointer;
}
.