/*
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# MOBILE
# FOOTER
# SIDEBAR
# MAIN
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# MOBILE
--------------------------------------------------------------*/
@media screen and (max-width:768px) {
    .brand_right {
        right: 15px;
    }
    .main_hero {
        height: 350px;
            display: flex;
    align-items: center;
    justify-content: center
    }
    .main_hero_text {
        position: relative;
            display: flex;
    align-items: center;
    justify-content: center;
        flex-direction: column;
        bottom:auto;
    }
    .main_hero_text h1 {
        text-align: center;
    }
    .main_hero_text a p {
        margin: 0 auto;
    }
    
    .site_main {
        float: none;
        width: 100%;
        padding-left: 0;
        padding-bottom: 0;
        text-align: center;
    }
    .post_content,
    .post_image{
        float: none;
    }
    .post_image {
        width: 90%;
        margin: 0 auto 20px;
        height: 200px;
    }
    .post_content {
        margin: 0 auto;
        width: 90%;
    }
    .post {
        text-align: center;
    }
    .blog_sidebar {
        float: none;
        width: 100%;
        padding-left: 20px;
    }
    .post#single_post .post_content {
        margin: 0 auto;
    }
}
.